name: Continuous Deployment

on:
  push:
    branches:
      - main

jobs:
  deploy:
    uses: fermi-ad/.github/.github/workflows/rust-deployment.yaml@d9140f7d40e8cbb622927ae373c4b6a38d8576d9
    secrets: inherit
    permissions:
      contents: read
    with:
      pull-git-submodules: true
      references-internal-git-repo: true