name: Rust

on:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    uses: fermi-ad/.github/.github/workflows/rust-integration.yaml@95d2feab90f427f3d40df3b471f4609fd4676efa
    secrets: inherit
    permissions:
      contents: write
      pull-requests: write
    with:
      pull-git-submodules: true
