name: Rust

on:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    uses: fermi-ad/.github/.github/workflows/rust-integration.yaml@2dd68f88d25662a51dc93bc5657900dab5c51063
    secrets: inherit
    permissions:
      contents: write
      pull-requests: write
    with:
      pull-git-submodules: true
      references-internal-git-repo: true
