name: Rust

on:
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  check:
    uses: fermi-ad/.github/.github/workflows/rust-integration.yaml@f21f266d2d4deee81258e9b33bf1f370d77ef331
    secrets: inherit
    permissions:
      contents: write
      pull-requests: write
    with:
      pull-git-submodules: true
